{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "VoiceBase v3 API",
    "description": "The v3 documentation has been designed to allow you to follow-along in your preferred language by copying code examples on the right into your terminal (cURL) or your project code. We have also included a Postman collection you can execute from the Postman application or Chrome plugin directly. Some users find using the Postman collection an easy way to experiment with the API and modify the configuration values to suit their needs, but it is not required.\n\nThis documentation uses several default values for configuration and media which you may either modify in your code, or within Postman. These environemnt variables are: \n* bearer-token: 'YOUR-BEARER-TOKEN' should be replaced with your unique token.\n* configuration: may be modified after you copy the code example and paste it in your project, or within the postman environment. \n\n\n# VoiceBase API Development with Postman\n\nThe \"Run in Postman\" button will download the entire collection of API endpoints to the Postman plugin or application on your computer and allow you to modify requests for experimentation\n\n## Configuring your environment\nThe VoiceBase v3 Postman collection makes use of environment variables to customize the requests being sent. More information on managing Postman environments can be found at [Setting up an environment with variables](https://www.getpostman.com/docs/postman/environments_and_globals/manage_environments). \nBe sure to modify your environment with the correct values for 'bearer-token' and configuration.",
    "contact": {}
  },
  "host": "apis.voicebase.com",
  "basePath": "/v3",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/media": {
      "post": {
        "description": "# Using local media\nTo upload a recording for transcription and analysis, attach the named media in the body of the request in the form field: media\n\n# Using a remote media URL\nVoiceBase can also fetch media from a remote URL using the mediaURL form field in the request body.",
        "summary": "/media - Upload a media file for transcription",
        "tags": [
          "/media collection"
        ],
        "operationId": "/media-Uploadamediafilefortranscription",
        "deprecated": false,
        "produces": [
          "application/json;charset=UTF-8",
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "configuration",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExamplewithMultipleCallbackTypes"
            },
            "examples": {
              "application/json;charset=UTF-8": {
                "_links": {
                  "self": {
                    "href": "/v3/media/1ef668ce-0feb-484e-95f1-797e446ca889"
                  },
                  "progress": {
                    "href": "/v3/media/1ef668ce-0feb-484e-95f1-797e446ca889/progress"
                  },
                  "metadata": {
                    "href": "/v3/media/1ef668ce-0feb-484e-95f1-797e446ca889/metadata"
                  }
                },
                "formatVersion": "3.0.1",
                "mediaId": "1ef668ce-0feb-484e-95f1-797e446ca889",
                "status": "accepted",
                "dateCreated": "2017-10-13T20:48:04.494Z",
                "metadata": {},
                "mediaContentType": "audio/x-aiff",
                "length": 14965
              },
              "application/json": {
                "_links": {
                  "self": {
                    "href": "/v3/media/0b9d9c4b-c127-4b84-a00c-9202bc097ae6"
                  },
                  "progress": {
                    "href": "/v3/media/0b9d9c4b-c127-4b84-a00c-9202bc097ae6/progress"
                  },
                  "metadata": {
                    "href": "/v3/media/0b9d9c4b-c127-4b84-a00c-9202bc097ae6/metadata"
                  }
                },
                "formatVersion": "3.0.1",
                "mediaId": "0b9d9c4b-c127-4b84-a00c-9202bc097ae6",
                "status": "accepted",
                "dateCreated": "2017-09-08T22:52:05.147Z",
                "metadata": {},
                "mediaContentType": "video/quicktime",
                "length": 46608
              }
            },
            "headers": {
              "Access-Control-Allow-Credentials": {
                "type": "string",
                "default": "true"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "default": "accept, authorization, content-type"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "default": "DELETE, GET, HEAD, OPTIONS, POST, PUT"
              },
              "Access-Control-Allow-Origin": {
                "type": "string",
                "default": "*"
              },
              "Date": {
                "type": "string",
                "default": "Fri, 13 Oct 2017 20:48:04 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache"
              },
              "Set-Cookie": {
                "type": "string",
                "default": "SERVERID=; Expires=Thu, 01-Jan-1970 00:00:01 GMT; path=/; Secure"
              },
              "Strict-Transport-Security": {
                "type": "string",
                "default": "max-age=31536000; includeSubDomains"
              },
              "Transfer-Encoding": {
                "type": "string",
                "default": "chunked"
              },
              "X-Application-Context": {
                "type": "string",
                "default": "application"
              },
              "X-Frame-Options": {
                "type": "string",
                "default": "SAMEORIGIN"
              },
              "X-Trace-ID": {
                "type": "string",
                "default": "9D82C4D6%3AEA6B_0A40E1F1%3A01BB_59E12683_E292B%3A1DE6"
              },
              "access-control-allow-credentials": {
                "type": "string",
                "default": "true"
              },
              "access-control-allow-headers": {
                "type": "string",
                "default": "accept, authorization, content-type"
              },
              "access-control-allow-methods": {
                "type": "string",
                "default": "DELETE, GET, HEAD, OPTIONS, POST, PUT"
              },
              "access-control-allow-origin": {
                "type": "string",
                "default": "*"
              },
              "content-type": {
                "type": "string",
                "default": "application/json;charset=UTF-8"
              },
              "date": {
                "type": "string",
                "default": "Wed, 11 Oct 2017 22:38:16 GMT"
              },
              "server": {
                "type": "string",
                "default": "Apache"
              },
              "strict-transport-security": {
                "type": "string",
                "default": "max-age=31536000; includeSubDomains"
              },
              "transfer-encoding": {
                "type": "string",
                "default": "chunked"
              },
              "x-application-context": {
                "type": "string",
                "default": "application"
              },
              "x-frame-options": {
                "type": "string",
                "default": "SAMEORIGIN"
              },
              "x-trace-id": {
                "type": "string",
                "default": "49CA4433%3ACBDB_0A40E1F1%3A01BB_59DE9D51_7A8B80%3A6B2D"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/NoMediaUploaded1"
            },
            "examples": {
              "application/json;charset=UTF-8": {
                "status": 400,
                "errors": [
                  {
                    "code": 10202,
                    "error": "The request included neither a media attachment nor a mediaUrl.  One of these two is required for us to process your request."
                  }
                ],
                "reference": "9D82C4D6:E8FE_0A40E32A:01BB_59A6F8FE_1E772C:2C17"
              }
            },
            "headers": {
              "Access-Control-Allow-Credentials": {
                "type": "string",
                "default": "true"
              },
              "Access-Control-Allow-Headers": {
                "type": "string",
                "default": "accept, authorization, content-type"
              },
              "Access-Control-Allow-Methods": {
                "type": "string",
                "default": "DELETE, GET, HEAD, OPTIONS, POST, PUT"
              },
              "Access-Control-Allow-Origin": {
                "type": "string",
                "default": "*"
              },
              "Date": {
                "type": "string",
                "default": "Wed, 30 Aug 2017 17:42:22 GMT"
              },
              "Server": {
                "type": "string",
                "default": "Apache"
              },
              "Set-Cookie": {
                "type": "string",
                "default": "SERVERID=; Expires=Thu, 01-Jan-1970 00:00:01 GMT; path=/; Secure"
              },
              "Strict-Transport-Security": {
                "type": "string",
                "default": "max-age=31536000; includeSubDomains"
              },
              "Transfer-Encoding": {
                "type": "string",
                "default": "chunked"
              },
              "X-Application-Context": {
                "type": "string",
                "default": "application"
              },
              "X-Frame-Options": {
                "type": "string",
                "default": "SAMEORIGIN"
              },
              "X-Trace-ID": {
                "type": "string",
                "default": "9D82C4D6%3AE8FE_0A40E32A%3A01BB_59A6F8FE_1E772C%3A2C17"
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieve a list of media previously uploaded that match a criteria",
        "summary": "/media - List Media Records",
        "tags": [
          "/media collection"
        ],
        "operationId": "/media-ListMediaRecords",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        }
      }
    },
    "/media/{mediaId}": {
      "get": {
        "description": "Retrieve analytical results from a previously uploaded media",
        "summary": "/media/{{mediaId}}",
        "tags": [
          "/media item"
        ],
        "operationId": "/media/{{mediaId}}",
        "deprecated": false,
        "produces": [
          "application/json",
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "default": "Bearer {token}",
            "type": "string"
          },
          {
            "name": "includeAlternateFormat",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Retrievetranscript%28KeywordsandTopicsEnabled%29"
            },
            "examples": {
              "application/json": {
                "_links": {
                  "self": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31"
                  },
                  "progress": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/progress"
                  },
                  "metadata": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/metadata"
                  },
                  "transcript": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/transcript"
                  },
                  "text": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/transcript/text"
                  },
                  "srt": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/transcript/srt"
                  },
                  "dfxp": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/transcript/dfxp"
                  },
                  "webvtt": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/transcript/webvtt"
                  },
                  "streams": {
                    "href": "/v3/media/ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31/streams"
                  }
                },
                "formatVersion": "3.0.1",
                "mediaId": "ecccf6fd-0f8e-4c71-b8a5-916ae9c7fe31",
                "status": "finished",
                "dateCreated": "2017-10-11T22:38:16.904Z",
                "metadata": {},
                "mediaContentType": "audio/mpeg",
                "length": 236248,
                "knowledge": {
                  "keywords": [
                    {
                      "keyword": "error message",
                      "relevance": 0.880797077978,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 47642
                            },
                            {
                              "s": 53352
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "wireless network",
                      "relevance": 0.880797077978,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 93216
                            },
                            {
                              "s": 96796
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "internet",
                      "relevance": 2.54366564738E-13,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 3399
                            },
                            {
                              "s": 9600
                            },
                            {
                              "s": 36291
                            },
                            {
                              "s": 88026
                            },
                            {
                              "s": 144344
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "computer",
                      "relevance": 3.44247710847E-14,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 72854
                            },
                            {
                              "s": 75545
                            },
                            {
                              "s": 213319
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "password",
                      "relevance": 3.44247710847E-14,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 109348
                            },
                            {
                              "s": 113617
                            },
                            {
                              "s": 118797
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "problem",
                      "relevance": 1.26641655491E-14,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 146773
                            },
                            {
                              "s": 192797
                            },
                            {
                              "s": 196857
                            },
                            {
                              "s": 215149
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "website",
                      "relevance": 4.6588861451E-15,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 13610
                            },
                            {
                              "s": 49442
                            },
                            {
                              "s": 63893
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "earlier",
                      "relevance": 1.71390843154E-15,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 119257
                            },
                            {
                              "s": 190556
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "browser",
                      "relevance": 1.71390843154E-15,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 70914
                            },
                            {
                              "s": 81806
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "guess",
                      "relevance": 2.31952283024E-16,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 80335
                            },
                            {
                              "s": 80905
                            },
                            {
                              "s": 84276
                            },
                            {
                              "s": 129192
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "lights",
                      "relevance": 2.31952283024E-16,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 164096
                            },
                            {
                              "s": 166156
                            },
                            {
                              "s": 171716
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "couple",
                      "relevance": 2.31952283024E-16,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 11019
                            },
                            {
                              "s": 43351
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "inconvenience",
                      "relevance": 2.31952283024E-16,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 21720
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "today",
                      "relevance": 8.53304762574E-17,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 5529
                            },
                            {
                              "s": 38891
                            },
                            {
                              "s": 119468
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "modem",
                      "relevance": 8.53304762574E-17,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 138023
                            },
                            {
                              "s": 147224
                            },
                            {
                              "s": 160175
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "connections",
                      "relevance": 3.13913279205E-17,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 87056
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "hours",
                      "relevance": 3.13913279205E-17,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 11300
                            },
                            {
                              "s": 43681
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "loose",
                      "relevance": 3.13913279205E-17,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 142314
                            },
                            {
                              "s": 148783
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "apologize",
                      "relevance": 4.24835425529E-18,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 21030
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "yesterday",
                      "relevance": 4.24835425529E-18,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 34801
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "extension",
                      "relevance": 4.24835425529E-18,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 178616
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "furniture",
                      "relevance": 4.24835425529E-18,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 189727
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "question",
                      "relevance": 1.56288218933E-18,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 84756
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "plugged",
                      "relevance": 1.56288218933E-18,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 177956
                            },
                            {
                              "s": 184355
                            },
                            {
                              "s": 188097
                            },
                            {
                              "s": 207908
                            },
                            {
                              "s": 231849
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "keyword": "services",
                      "relevance": 1.56288218933E-18,
                      "mentions": [
                        {
                          "speakerName": "unknown",
                          "occurrences": [
                            {
                              "s": 3870
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "topics": [
                    {
                      "topicName": "Email",
                      "relevance": 0.0,
                      "keywords": [
                        {
                          "keyword": "Email",
                          "relevance": 1.0,
                          "mentions": [
                            {
                              "speakerName": "unknown",
                              "occurrences": [
                                {
                                  "s": 65823
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "keyword": "E-mailing",
                          "relevance": 1.0,
                          "mentions": [
                            {
                              "speakerName": "unknown",
                              "occurrences": [
                                {
                                  "s": 15260
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "keyword": "Website",
                          "relevance": 0.686906053352971,
                          "mentions": [
                            {
                              "speakerName": "unknown",
                              "occurrences": [
                                {
                                  "s": 13610
                                },
                                {
                                  "s": 49442
                                },
                                {
                                  "s": 58112
                                },
                                {
                                  "s": 61033
                                },
                                {
                                  "s": 63893
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "keyword": "Modem",
                          "relevance": 0.65738113746181,
                          "mentions": [
                            {
                              "speakerName": "unknown",
                              "occurrences": [
                                {
                                  "s": 138023
                                },
                                {
                                  "s": 147224
                                },
                                {
                                  "s": 160175
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "keyword": "Internet",
                          "relevance": 0.646157494970131,
                          "mentions": [
                            {
                              "speakerName": "unknown",
                              "occurrences": [
                                {
                                  "s": 3399
                                },
                                {
                                  "s": 9600
                                },
                                {
                                  "s": 36291
                                },
                                {
                                  "s": 88026
                                },
                                {
                                  "s": 144344
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "keyword": "Laptop",
                          "relevance": 0.598825968018448,
                          "mentions": [
                            {
                              "speakerName": "unknown",
                              "occurrences": [
                                {
                                  "s": 91426
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                "transcript": {
                  "confidence": 0.26203721695685533,
                  "words": [
                    {
                      "p": 0,
                      "c": 0.904,
                      "s": 1430,
                      "e": 1650,
                      "w": "Well"
                    },
                    {
                      "p": 1,
                      "c": 0.691,
                      "s": 1660,
                      "e": 1849,
                      "w": "this"
                    },
                    {
                      "p": 2,
                      "c": 0.952,
                      "s": 1860,
                      "e": 2020,
                      "w": "is"
                    },
                    {
                      "p": 3,
                      "c": 0.905,
                      "s": 2030,
                      "e": 2540,
                      "w": "Jeremy"
                    },
                    {
                      "p": 4,
                      "c": 0.964,
                      "s": 2550,
                      "e": 2780,
                      "w": "with"
                    },
                    {
                      "p": 5,
                      "c": 0.423,
                      "s": 2790,
                      "e": 2970,
                      "w": "blue"
                    },
                    {
                      "p": 6,
                      "c": 0.401,
                      "s": 2980,
                      "e": 3389,
                      "w": "blocks"
                    },
                    {
                      "p": 7,
                      "c": 0.968,
                      "s": 3399,
                      "e": 3860,
                      "w": "Internet"
                    },
                    {
                      "p": 8,
                      "c": 0.964,
                      "s": 3870,
                      "e": 4600,
                      "w": "services"
                    },
                    {
                      "p": 9,
                      "c": 0.096,
                      "s": 4870,
                      "e": 5200,
                      "w": "I"
                    },
                    {
                      "p": 10,
                      "c": 0.717,
                      "s": 5210,
                      "e": 5400,
                      "w": "help"
                    },
                    {
                      "p": 11,
                      "c": 0.999,
                      "s": 5410,
                      "e": 5520,
                      "w": "you"
                    },
                    {
                      "p": 12,
                      "c": 0.635,
                      "s": 5529,
                      "e": 5859,
                      "w": "today"
                    },
                    {
                      "p": 13,
                      "c": 0.0,
                      "s": 5859,
                      "e": 5859,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 14,
                      "c": 0.232,
                      "s": 7330,
                      "e": 7699,
                      "w": "Hi"
                    },
                    {
                      "p": 15,
                      "c": 0.97,
                      "s": 7710,
                      "e": 7840,
                      "w": "I've"
                    },
                    {
                      "p": 16,
                      "c": 0.938,
                      "s": 7850,
                      "e": 8000,
                      "w": "been"
                    },
                    {
                      "p": 17,
                      "c": 0.906,
                      "s": 8009,
                      "e": 8559,
                      "w": "having"
                    },
                    {
                      "p": 18,
                      "c": 0.601,
                      "s": 8620,
                      "e": 8809,
                      "w": "like"
                    },
                    {
                      "p": 19,
                      "c": 0.833,
                      "s": 8820,
                      "e": 8870,
                      "w": "a"
                    },
                    {
                      "p": 20,
                      "c": 0.845,
                      "s": 8880,
                      "e": 9059,
                      "w": "lot"
                    },
                    {
                      "p": 21,
                      "c": 0.8,
                      "s": 9070,
                      "e": 9120,
                      "w": "of"
                    },
                    {
                      "p": 22,
                      "c": 0.96,
                      "s": 9130,
                      "e": 9360,
                      "w": "trouble"
                    },
                    {
                      "p": 23,
                      "c": 0.9,
                      "s": 9370,
                      "e": 9470,
                      "w": "with"
                    },
                    {
                      "p": 24,
                      "c": 0.894,
                      "s": 9479,
                      "e": 9590,
                      "w": "my"
                    },
                    {
                      "p": 25,
                      "c": 0.932,
                      "s": 9600,
                      "e": 10110,
                      "w": "internet"
                    },
                    {
                      "p": 26,
                      "c": 0.272,
                      "s": 10370,
                      "e": 10599,
                      "w": "over"
                    },
                    {
                      "p": 27,
                      "c": 0.889,
                      "s": 10610,
                      "e": 10680,
                      "w": "the"
                    },
                    {
                      "p": 28,
                      "c": 0.934,
                      "s": 10689,
                      "e": 11010,
                      "w": "last"
                    },
                    {
                      "p": 29,
                      "c": 0.911,
                      "s": 11019,
                      "e": 11290,
                      "w": "couple"
                    },
                    {
                      "p": 30,
                      "c": 0.511,
                      "s": 11300,
                      "e": 11840,
                      "w": "hours"
                    },
                    {
                      "p": 31,
                      "c": 0.174,
                      "s": 12070,
                      "e": 12149,
                      "w": "I"
                    },
                    {
                      "p": 32,
                      "c": 0.978,
                      "s": 12160,
                      "e": 12660,
                      "w": "can't"
                    },
                    {
                      "p": 33,
                      "c": 0.191,
                      "s": 13010,
                      "e": 13189,
                      "w": "like"
                    },
                    {
                      "p": 34,
                      "c": 0.854,
                      "s": 13229,
                      "e": 13460,
                      "w": "open"
                    },
                    {
                      "p": 35,
                      "c": 0.889,
                      "s": 13470,
                      "e": 13599,
                      "w": "any"
                    },
                    {
                      "p": 36,
                      "c": 0.984,
                      "s": 13610,
                      "e": 14380,
                      "w": "websites"
                    },
                    {
                      "p": 37,
                      "c": 0.58,
                      "s": 14420,
                      "e": 14510,
                      "w": "I"
                    },
                    {
                      "p": 38,
                      "c": 0.94,
                      "s": 14519,
                      "e": 14830,
                      "w": "can't"
                    },
                    {
                      "p": 39,
                      "c": 0.9,
                      "s": 14840,
                      "e": 14960,
                      "w": "get"
                    },
                    {
                      "p": 40,
                      "c": 0.788,
                      "s": 14969,
                      "e": 15070,
                      "w": "on"
                    },
                    {
                      "p": 41,
                      "c": 0.875,
                      "s": 15080,
                      "e": 15250,
                      "w": "my"
                    },
                    {
                      "p": 42,
                      "c": 0.426,
                      "s": 15260,
                      "e": 15740,
                      "w": "e-mail"
                    },
                    {
                      "p": 43,
                      "c": 0.053,
                      "s": 16380,
                      "e": 16429,
                      "w": "it"
                    },
                    {
                      "p": 44,
                      "c": 0.681,
                      "s": 16439,
                      "e": 16560,
                      "w": "just"
                    },
                    {
                      "p": 45,
                      "c": 0.962,
                      "s": 16570,
                      "e": 16720,
                      "w": "seems"
                    },
                    {
                      "p": 46,
                      "c": 0.875,
                      "s": 16730,
                      "e": 16810,
                      "w": "to"
                    },
                    {
                      "p": 47,
                      "c": 0.843,
                      "s": 16820,
                      "e": 16909,
                      "w": "be"
                    },
                    {
                      "p": 48,
                      "c": 0.958,
                      "s": 16919,
                      "e": 17999,
                      "w": "completely"
                    },
                    {
                      "p": 49,
                      "c": 0.993,
                      "s": 18550,
                      "e": 18860,
                      "w": "shut"
                    },
                    {
                      "p": 50,
                      "c": 0.667,
                      "s": 18870,
                      "e": 19239,
                      "w": "down"
                    },
                    {
                      "p": 51,
                      "c": 0.121,
                      "s": 20880,
                      "e": 21020,
                      "w": "we"
                    },
                    {
                      "p": 52,
                      "c": 0.941,
                      "s": 21030,
                      "e": 21530,
                      "w": "apologize"
                    },
                    {
                      "p": 53,
                      "c": 0.975,
                      "s": 21540,
                      "e": 21630,
                      "w": "for"
                    },
                    {
                      "p": 54,
                      "c": 0.929,
                      "s": 21640,
                      "e": 21710,
                      "w": "the"
                    },
                    {
                      "p": 55,
                      "c": 0.825,
                      "s": 21720,
                      "e": 22440,
                      "w": "inconvenience"
                    },
                    {
                      "p": 56,
                      "c": 0.981,
                      "s": 22450,
                      "e": 22780,
                      "w": "and"
                    },
                    {
                      "p": 57,
                      "c": 0.194,
                      "s": 22790,
                      "e": 22940,
                      "w": "we're"
                    },
                    {
                      "p": 58,
                      "c": 0.889,
                      "s": 22950,
                      "e": 23239,
                      "w": "happy"
                    },
                    {
                      "p": 59,
                      "c": 0.916,
                      "s": 23249,
                      "e": 23329,
                      "w": "to"
                    },
                    {
                      "p": 60,
                      "c": 0.595,
                      "s": 23340,
                      "e": 23560,
                      "w": "help"
                    },
                    {
                      "p": 61,
                      "c": 0.963,
                      "s": 23569,
                      "e": 23710,
                      "w": "any"
                    },
                    {
                      "p": 62,
                      "c": 0.9,
                      "s": 23720,
                      "e": 23819,
                      "w": "way"
                    },
                    {
                      "p": 63,
                      "c": 0.905,
                      "s": 23829,
                      "e": 23940,
                      "w": "we"
                    },
                    {
                      "p": 64,
                      "c": 0.917,
                      "s": 23950,
                      "e": 24390,
                      "w": "can"
                    },
                    {
                      "p": 65,
                      "c": 0.0,
                      "s": 24390,
                      "e": 24390,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 66,
                      "c": 0.172,
                      "s": 25409,
                      "e": 25730,
                      "w": "First"
                    },
                    {
                      "p": 67,
                      "c": 0.917,
                      "s": 25739,
                      "e": 26079,
                      "w": "off"
                    },
                    {
                      "p": 68,
                      "c": 0.121,
                      "s": 26989,
                      "e": 27149,
                      "w": "could"
                    },
                    {
                      "p": 69,
                      "c": 0.9,
                      "s": 27159,
                      "e": 27270,
                      "w": "you"
                    },
                    {
                      "p": 70,
                      "c": 0.812,
                      "s": 27280,
                      "e": 27470,
                      "w": "let"
                    },
                    {
                      "p": 71,
                      "c": 0.917,
                      "s": 27479,
                      "e": 27569,
                      "w": "me"
                    },
                    {
                      "p": 72,
                      "c": 0.902,
                      "s": 27579,
                      "e": 28050,
                      "w": "know"
                    },
                    {
                      "p": 73,
                      "c": 0.925,
                      "s": 28840,
                      "e": 29130,
                      "w": "how"
                    },
                    {
                      "p": 74,
                      "c": 0.421,
                      "s": 29140,
                      "e": 29430,
                      "w": "long"
                    },
                    {
                      "p": 75,
                      "c": 0.972,
                      "s": 29440,
                      "e": 29810,
                      "w": "these"
                    },
                    {
                      "p": 76,
                      "c": 0.19,
                      "s": 30710,
                      "e": 30919,
                      "w": "these"
                    },
                    {
                      "p": 77,
                      "c": 0.923,
                      "s": 30930,
                      "e": 31149,
                      "w": "issues"
                    },
                    {
                      "p": 78,
                      "c": 0.845,
                      "s": 31159,
                      "e": 31270,
                      "w": "have"
                    },
                    {
                      "p": 79,
                      "c": 0.802,
                      "s": 31280,
                      "e": 31430,
                      "w": "been"
                    },
                    {
                      "p": 80,
                      "c": 0.811,
                      "s": 31440,
                      "e": 31970,
                      "w": "persisting"
                    },
                    {
                      "p": 81,
                      "c": 0.183,
                      "s": 32911,
                      "e": 33490,
                      "w": "Yeah"
                    },
                    {
                      "p": 82,
                      "c": 0.31,
                      "s": 33971,
                      "e": 34131,
                      "w": "it"
                    },
                    {
                      "p": 83,
                      "c": 0.975,
                      "s": 34141,
                      "e": 34321,
                      "w": "seemed"
                    },
                    {
                      "p": 84,
                      "c": 0.854,
                      "s": 34330,
                      "e": 34381,
                      "w": "to"
                    },
                    {
                      "p": 85,
                      "c": 0.789,
                      "s": 34391,
                      "e": 34490,
                      "w": "be"
                    },
                    {
                      "p": 86,
                      "c": 0.827,
                      "s": 34501,
                      "e": 34791,
                      "w": "OK"
                    },
                    {
                      "p": 87,
                      "c": 0.857,
                      "s": 34801,
                      "e": 35580,
                      "w": "yesterday"
                    },
                    {
                      "p": 88,
                      "c": 0.244,
                      "s": 35951,
                      "e": 35981,
                      "w": "I"
                    },
                    {
                      "p": 89,
                      "c": 0.548,
                      "s": 35990,
                      "e": 36101,
                      "w": "was"
                    },
                    {
                      "p": 90,
                      "c": 0.655,
                      "s": 36111,
                      "e": 36191,
                      "w": "on"
                    },
                    {
                      "p": 91,
                      "c": 0.806,
                      "s": 36201,
                      "e": 36281,
                      "w": "the"
                    },
                    {
                      "p": 92,
                      "c": 0.865,
                      "s": 36291,
                      "e": 36721,
                      "w": "Internet"
                    },
                    {
                      "p": 93,
                      "c": 0.128,
                      "s": 37631,
                      "e": 37961,
                      "w": "last"
                    },
                    {
                      "p": 94,
                      "c": 0.971,
                      "s": 37971,
                      "e": 38381,
                      "w": "night"
                    },
                    {
                      "p": 95,
                      "c": 0.16,
                      "s": 38531,
                      "e": 38731,
                      "w": "but"
                    },
                    {
                      "p": 96,
                      "c": 0.726,
                      "s": 38891,
                      "e": 39580,
                      "w": "today"
                    },
                    {
                      "p": 97,
                      "c": 0.222,
                      "s": 39681,
                      "e": 39900,
                      "w": "when"
                    },
                    {
                      "p": 98,
                      "c": 0.75,
                      "s": 39911,
                      "e": 39971,
                      "w": "I"
                    },
                    {
                      "p": 99,
                      "c": 0.895,
                      "s": 39981,
                      "e": 40211,
                      "w": "got"
                    },
                    {
                      "p": 100,
                      "c": 0.561,
                      "s": 40221,
                      "e": 40411,
                      "w": "on"
                    },
                    {
                      "p": 101,
                      "c": 0.541,
                      "s": 40420,
                      "e": 40591,
                      "w": "it"
                    },
                    {
                      "p": 102,
                      "c": 0.724,
                      "s": 40631,
                      "e": 40861,
                      "w": "is"
                    },
                    {
                      "p": 103,
                      "c": 0.947,
                      "s": 40871,
                      "e": 41071,
                      "w": "just"
                    },
                    {
                      "p": 104,
                      "c": 0.393,
                      "s": 41080,
                      "e": 41481,
                      "w": "broken"
                    },
                    {
                      "p": 105,
                      "c": 0.975,
                      "s": 41490,
                      "e": 41681,
                      "w": "so"
                    },
                    {
                      "p": 106,
                      "c": 0.928,
                      "s": 41691,
                      "e": 42371,
                      "w": "probably"
                    },
                    {
                      "p": 107,
                      "c": 0.808,
                      "s": 42791,
                      "e": 42990,
                      "w": "for"
                    },
                    {
                      "p": 108,
                      "c": 0.5,
                      "s": 43001,
                      "e": 43071,
                      "w": "the"
                    },
                    {
                      "p": 109,
                      "c": 0.797,
                      "s": 43080,
                      "e": 43341,
                      "w": "last"
                    },
                    {
                      "p": 110,
                      "c": 0.849,
                      "s": 43351,
                      "e": 43580,
                      "w": "couple"
                    },
                    {
                      "p": 111,
                      "c": 0.872,
                      "s": 43591,
                      "e": 43670,
                      "w": "of"
                    },
                    {
                      "p": 112,
                      "c": 0.931,
                      "s": 43681,
                      "e": 44010,
                      "w": "hours"
                    },
                    {
                      "p": 113,
                      "c": 0.688,
                      "s": 44021,
                      "e": 44121,
                      "w": "at"
                    },
                    {
                      "p": 114,
                      "c": 0.959,
                      "s": 44131,
                      "e": 44521,
                      "w": "least"
                    },
                    {
                      "p": 115,
                      "c": 0.275,
                      "s": 45822,
                      "e": 46302,
                      "w": "OK"
                    },
                    {
                      "p": 116,
                      "c": 0.144,
                      "s": 46671,
                      "e": 46782,
                      "w": "Are"
                    },
                    {
                      "p": 117,
                      "c": 0.75,
                      "s": 46792,
                      "e": 46952,
                      "w": "you"
                    },
                    {
                      "p": 118,
                      "c": 0.55,
                      "s": 46962,
                      "e": 47401,
                      "w": "receiving"
                    },
                    {
                      "p": 119,
                      "c": 0.976,
                      "s": 47412,
                      "e": 47632,
                      "w": "any"
                    },
                    {
                      "p": 120,
                      "c": 0.881,
                      "s": 47642,
                      "e": 47802,
                      "w": "error"
                    },
                    {
                      "p": 121,
                      "c": 0.713,
                      "s": 47811,
                      "e": 48302,
                      "w": "message"
                    },
                    {
                      "p": 122,
                      "c": 0.673,
                      "s": 48311,
                      "e": 48412,
                      "w": "when"
                    },
                    {
                      "p": 123,
                      "c": 0.983,
                      "s": 48421,
                      "e": 48511,
                      "w": "you"
                    },
                    {
                      "p": 124,
                      "c": 0.803,
                      "s": 48522,
                      "e": 48692,
                      "w": "try"
                    },
                    {
                      "p": 125,
                      "c": 0.889,
                      "s": 48702,
                      "e": 48782,
                      "w": "to"
                    },
                    {
                      "p": 126,
                      "c": 0.837,
                      "s": 48792,
                      "e": 49132,
                      "w": "log"
                    },
                    {
                      "p": 127,
                      "c": 0.248,
                      "s": 49142,
                      "e": 49392,
                      "w": "into"
                    },
                    {
                      "p": 128,
                      "c": 0.835,
                      "s": 49401,
                      "e": 49432,
                      "w": "a"
                    },
                    {
                      "p": 129,
                      "c": 0.733,
                      "s": 49442,
                      "e": 49971,
                      "w": "website"
                    },
                    {
                      "p": 130,
                      "c": 0.09,
                      "s": 50682,
                      "e": 50892,
                      "w": "is"
                    },
                    {
                      "p": 131,
                      "c": 0.962,
                      "s": 50901,
                      "e": 51081,
                      "w": "there"
                    },
                    {
                      "p": 132,
                      "c": 0.784,
                      "s": 51092,
                      "e": 51162,
                      "w": "a"
                    },
                    {
                      "p": 133,
                      "c": 0.735,
                      "s": 51171,
                      "e": 51552,
                      "w": "specific"
                    },
                    {
                      "p": 134,
                      "c": 0.95,
                      "s": 51561,
                      "e": 51822,
                      "w": "5"
                    },
                    {
                      "p": 135,
                      "c": 0.917,
                      "s": 51831,
                      "e": 51882,
                      "w": "or"
                    },
                    {
                      "p": 136,
                      "c": 0.95,
                      "s": 51892,
                      "e": 52372,
                      "w": "3"
                    },
                    {
                      "p": 137,
                      "c": 0.98,
                      "s": 52382,
                      "e": 52602,
                      "w": "or"
                    },
                    {
                      "p": 138,
                      "c": 0.95,
                      "s": 52612,
                      "e": 52852,
                      "w": "4"
                    },
                    {
                      "p": 139,
                      "c": 0.591,
                      "s": 52862,
                      "e": 53002,
                      "w": "up"
                    },
                    {
                      "p": 140,
                      "c": 0.963,
                      "s": 53011,
                      "e": 53342,
                      "w": "for"
                    },
                    {
                      "p": 141,
                      "c": 0.907,
                      "s": 53352,
                      "e": 53502,
                      "w": "error"
                    },
                    {
                      "p": 142,
                      "c": 0.972,
                      "s": 53511,
                      "e": 53921,
                      "w": "message"
                    },
                    {
                      "p": 143,
                      "c": 0.897,
                      "s": 53932,
                      "e": 54212,
                      "w": "that"
                    },
                    {
                      "p": 144,
                      "c": 0.822,
                      "s": 54302,
                      "e": 54462,
                      "w": "you're"
                    },
                    {
                      "p": 145,
                      "c": 0.96,
                      "s": 54471,
                      "e": 54831,
                      "w": "saying"
                    },
                    {
                      "p": 146,
                      "c": 0.0,
                      "s": 54831,
                      "e": 54831,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 147,
                      "c": 0.149,
                      "s": 55921,
                      "e": 56122,
                      "w": "It"
                    },
                    {
                      "p": 148,
                      "c": 0.955,
                      "s": 56131,
                      "e": 56552,
                      "w": "just"
                    },
                    {
                      "p": 149,
                      "c": 0.972,
                      "s": 56561,
                      "e": 57322,
                      "w": "says"
                    },
                    {
                      "p": 150,
                      "c": 0.109,
                      "s": 58112,
                      "e": 58322,
                      "w": "Web"
                    },
                    {
                      "p": 151,
                      "c": 0.957,
                      "s": 58331,
                      "e": 58552,
                      "w": "site"
                    },
                    {
                      "p": 152,
                      "c": 0.855,
                      "s": 58561,
                      "e": 58831,
                      "w": "cannot"
                    },
                    {
                      "p": 153,
                      "c": 0.889,
                      "s": 58842,
                      "e": 58932,
                      "w": "be"
                    },
                    {
                      "p": 154,
                      "c": 0.794,
                      "s": 58942,
                      "e": 59581,
                      "w": "found"
                    },
                    {
                      "p": 155,
                      "c": 0.14,
                      "s": 61033,
                      "e": 61283,
                      "w": "web"
                    },
                    {
                      "p": 156,
                      "c": 0.955,
                      "s": 61293,
                      "e": 61503,
                      "w": "site"
                    },
                    {
                      "p": 157,
                      "c": 0.851,
                      "s": 61512,
                      "e": 61773,
                      "w": "cannot"
                    },
                    {
                      "p": 158,
                      "c": 0.832,
                      "s": 61783,
                      "e": 61933,
                      "w": "be"
                    },
                    {
                      "p": 159,
                      "c": 0.254,
                      "s": 62363,
                      "e": 62633,
                      "w": "that's"
                    },
                    {
                      "p": 160,
                      "c": 0.875,
                      "s": 62672,
                      "e": 62852,
                      "w": "that's"
                    },
                    {
                      "p": 161,
                      "c": 0.952,
                      "s": 62863,
                      "e": 62983,
                      "w": "like"
                    },
                    {
                      "p": 162,
                      "c": 0.845,
                      "s": 62992,
                      "e": 63352,
                      "w": "for"
                    },
                    {
                      "p": 163,
                      "c": 0.535,
                      "s": 63453,
                      "e": 63672,
                      "w": "for"
                    },
                    {
                      "p": 164,
                      "c": 0.962,
                      "s": 63683,
                      "e": 63883,
                      "w": "any"
                    },
                    {
                      "p": 165,
                      "c": 0.978,
                      "s": 63893,
                      "e": 64293,
                      "w": "website"
                    },
                    {
                      "p": 166,
                      "c": 0.35,
                      "s": 64303,
                      "e": 64343,
                      "w": "I"
                    },
                    {
                      "p": 167,
                      "c": 0.84,
                      "s": 64352,
                      "e": 64533,
                      "w": "try"
                    },
                    {
                      "p": 168,
                      "c": 0.667,
                      "s": 64543,
                      "e": 64613,
                      "w": "to"
                    },
                    {
                      "p": 169,
                      "c": 0.61,
                      "s": 64623,
                      "e": 64773,
                      "w": "go"
                    },
                    {
                      "p": 170,
                      "c": 0.866,
                      "s": 64783,
                      "e": 65012,
                      "w": "to"
                    },
                    {
                      "p": 171,
                      "c": 0.645,
                      "s": 65023,
                      "e": 65172,
                      "w": "or"
                    },
                    {
                      "p": 172,
                      "c": 0.713,
                      "s": 65183,
                      "e": 65413,
                      "w": "try"
                    },
                    {
                      "p": 173,
                      "c": 0.875,
                      "s": 65422,
                      "e": 65483,
                      "w": "to"
                    },
                    {
                      "p": 174,
                      "c": 0.794,
                      "s": 65492,
                      "e": 65562,
                      "w": "go"
                    },
                    {
                      "p": 175,
                      "c": 0.833,
                      "s": 65573,
                      "e": 65643,
                      "w": "to"
                    },
                    {
                      "p": 176,
                      "c": 0.699,
                      "s": 65652,
                      "e": 65783,
                      "w": "my"
                    },
                    {
                      "p": 177,
                      "c": 0.839,
                      "s": 65823,
                      "e": 66152,
                      "w": "email"
                    },
                    {
                      "p": 178,
                      "c": 0.768,
                      "s": 66163,
                      "e": 66492,
                      "w": "to"
                    },
                    {
                      "p": 179,
                      "c": 0.159,
                      "s": 67534,
                      "e": 67903,
                      "w": "OK"
                    },
                    {
                      "p": 180,
                      "c": 0.237,
                      "s": 68583,
                      "e": 68943,
                      "w": "have"
                    },
                    {
                      "p": 181,
                      "c": 0.651,
                      "s": 68954,
                      "e": 69074,
                      "w": "you"
                    },
                    {
                      "p": 182,
                      "c": 0.605,
                      "s": 69083,
                      "e": 69454,
                      "w": "try"
                    },
                    {
                      "p": 183,
                      "c": 0.341,
                      "s": 69914,
                      "e": 70333,
                      "w": "closing"
                    },
                    {
                      "p": 184,
                      "c": 0.97,
                      "s": 70344,
                      "e": 70504,
                      "w": "out"
                    },
                    {
                      "p": 185,
                      "c": 0.941,
                      "s": 70513,
                      "e": 70684,
                      "w": "the"
                    },
                    {
                      "p": 186,
                      "c": 0.319,
                      "s": 70794,
                      "e": 70903,
                      "w": "the"
                    },
                    {
                      "p": 187,
                      "c": 0.962,
                      "s": 70914,
                      "e": 71534,
                      "w": "browser"
                    },
                    {
                      "p": 188,
                      "c": 0.977,
                      "s": 71544,
                      "e": 72024,
                      "w": "or"
                    },
                    {
                      "p": 189,
                      "c": 0.308,
                      "s": 72144,
                      "e": 72333,
                      "w": "or"
                    },
                    {
                      "p": 190,
                      "c": 0.977,
                      "s": 72344,
                      "e": 72734,
                      "w": "resetting"
                    },
                    {
                      "p": 191,
                      "c": 0.923,
                      "s": 72744,
                      "e": 72844,
                      "w": "your"
                    },
                    {
                      "p": 192,
                      "c": 0.972,
                      "s": 72854,
                      "e": 73414,
                      "w": "computer"
                    },
                    {
                      "p": 193,
                      "c": 0.0,
                      "s": 73414,
                      "e": 73414,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 194,
                      "c": 0.018,
                      "s": 74804,
                      "e": 74865,
                      "w": "I"
                    },
                    {
                      "p": 195,
                      "c": 0.249,
                      "s": 74875,
                      "e": 75075,
                      "w": "tried"
                    },
                    {
                      "p": 196,
                      "c": 0.689,
                      "s": 75085,
                      "e": 75435,
                      "w": "restarting"
                    },
                    {
                      "p": 197,
                      "c": 0.917,
                      "s": 75445,
                      "e": 75535,
                      "w": "my"
                    },
                    {
                      "p": 198,
                      "c": 0.946,
                      "s": 75545,
                      "e": 76505,
                      "w": "computer"
                    },
                    {
                      "p": 199,
                      "c": 0.0,
                      "s": 76505,
                      "e": 76505,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 200,
                      "c": 0.54,
                      "s": 79106,
                      "e": 79835,
                      "w": "So"
                    },
                    {
                      "p": 201,
                      "c": 0.966,
                      "s": 79986,
                      "e": 80266,
                      "w": "yeah"
                    },
                    {
                      "p": 202,
                      "c": 0.8,
                      "s": 80276,
                      "e": 80326,
                      "w": "I"
                    },
                    {
                      "p": 203,
                      "c": 0.892,
                      "s": 80335,
                      "e": 80746,
                      "w": "guess"
                    },
                    {
                      "p": 204,
                      "c": 0.743,
                      "s": 80786,
                      "e": 80896,
                      "w": "I"
                    },
                    {
                      "p": 205,
                      "c": 0.772,
                      "s": 80905,
                      "e": 81106,
                      "w": "guess"
                    },
                    {
                      "p": 206,
                      "c": 0.941,
                      "s": 81115,
                      "e": 81236,
                      "w": "that"
                    },
                    {
                      "p": 207,
                      "c": 0.817,
                      "s": 81246,
                      "e": 81416,
                      "w": "means"
                    },
                    {
                      "p": 208,
                      "c": 0.932,
                      "s": 81426,
                      "e": 81466,
                      "w": "I"
                    },
                    {
                      "p": 209,
                      "c": 0.843,
                      "s": 81475,
                      "e": 81706,
                      "w": "turn"
                    },
                    {
                      "p": 210,
                      "c": 0.8,
                      "s": 81716,
                      "e": 81795,
                      "w": "my"
                    },
                    {
                      "p": 211,
                      "c": 0.881,
                      "s": 81806,
                      "e": 82206,
                      "w": "browser"
                    },
                    {
                      "p": 212,
                      "c": 0.926,
                      "s": 82216,
                      "e": 82346,
                      "w": "off"
                    },
                    {
                      "p": 213,
                      "c": 0.276,
                      "s": 82356,
                      "e": 82716,
                      "w": "too"
                    },
                    {
                      "p": 214,
                      "c": 0.28,
                      "s": 83365,
                      "e": 83826,
                      "w": "and"
                    },
                    {
                      "p": 215,
                      "c": 0.523,
                      "s": 83986,
                      "e": 84266,
                      "w": "I"
                    },
                    {
                      "p": 216,
                      "c": 0.93,
                      "s": 84276,
                      "e": 84506,
                      "w": "guess"
                    },
                    {
                      "p": 217,
                      "c": 0.862,
                      "s": 84636,
                      "e": 84746,
                      "w": "the"
                    },
                    {
                      "p": 218,
                      "c": 0.848,
                      "s": 84756,
                      "e": 85085,
                      "w": "question"
                    },
                    {
                      "p": 219,
                      "c": 0.971,
                      "s": 85096,
                      "e": 85295,
                      "w": "is"
                    },
                    {
                      "p": 220,
                      "c": 0.599,
                      "s": 85306,
                      "e": 85606,
                      "w": "was"
                    },
                    {
                      "p": 221,
                      "c": 0.684,
                      "s": 85926,
                      "e": 86016,
                      "w": "it"
                    },
                    {
                      "p": 222,
                      "c": 0.834,
                      "s": 86026,
                      "e": 86206,
                      "w": "just"
                    },
                    {
                      "p": 223,
                      "c": 0.944,
                      "s": 86526,
                      "e": 86636,
                      "w": "a"
                    },
                    {
                      "p": 224,
                      "c": 0.789,
                      "s": 86646,
                      "e": 86896,
                      "w": "white"
                    },
                    {
                      "p": 225,
                      "c": 0.76,
                      "s": 86905,
                      "e": 87045,
                      "w": "guy"
                    },
                    {
                      "p": 226,
                      "c": 0.983,
                      "s": 87056,
                      "e": 87556,
                      "w": "connections"
                    },
                    {
                      "p": 227,
                      "c": 0.974,
                      "s": 87566,
                      "e": 88016,
                      "w": "wireless"
                    },
                    {
                      "p": 228,
                      "c": 0.947,
                      "s": 88026,
                      "e": 88306,
                      "w": "Internet"
                    },
                    {
                      "p": 229,
                      "c": 0.972,
                      "s": 88316,
                      "e": 88736,
                      "w": "access"
                    },
                    {
                      "p": 230,
                      "c": 0.905,
                      "s": 88746,
                      "e": 88876,
                      "w": "on"
                    },
                    {
                      "p": 231,
                      "c": 0.947,
                      "s": 88886,
                      "e": 88975,
                      "w": "your"
                    },
                    {
                      "p": 232,
                      "c": 0.923,
                      "s": 88986,
                      "e": 89276,
                      "w": "planet"
                    },
                    {
                      "p": 233,
                      "c": 0.177,
                      "s": 89966,
                      "e": 90266,
                      "w": "yeah"
                    },
                    {
                      "p": 234,
                      "c": 0.607,
                      "s": 90365,
                      "e": 90685,
                      "w": "OK"
                    },
                    {
                      "p": 235,
                      "c": 0.304,
                      "s": 91266,
                      "e": 91416,
                      "w": "my"
                    },
                    {
                      "p": 236,
                      "c": 0.981,
                      "s": 91426,
                      "e": 91966,
                      "w": "laptop"
                    },
                    {
                      "p": 237,
                      "c": 0.952,
                      "s": 92066,
                      "e": 92266,
                      "w": "and"
                    },
                    {
                      "p": 238,
                      "c": 0.457,
                      "s": 92376,
                      "e": 92676,
                      "w": "what's"
                    },
                    {
                      "p": 239,
                      "c": 0.9,
                      "s": 92685,
                      "e": 92746,
                      "w": "the"
                    },
                    {
                      "p": 240,
                      "c": 0.929,
                      "s": 92755,
                      "e": 92996,
                      "w": "name"
                    },
                    {
                      "p": 241,
                      "c": 0.938,
                      "s": 93005,
                      "e": 93085,
                      "w": "of"
                    },
                    {
                      "p": 242,
                      "c": 0.898,
                      "s": 93096,
                      "e": 93206,
                      "w": "your"
                    },
                    {
                      "p": 243,
                      "c": 0.851,
                      "s": 93216,
                      "e": 93676,
                      "w": "wireless"
                    },
                    {
                      "p": 244,
                      "c": 0.967,
                      "s": 93685,
                      "e": 93996,
                      "w": "network"
                    },
                    {
                      "p": 245,
                      "c": 0.0,
                      "s": 93996,
                      "e": 93996,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 246,
                      "c": 0.078,
                      "s": 96557,
                      "e": 96787,
                      "w": "My"
                    },
                    {
                      "p": 247,
                      "c": 0.971,
                      "s": 96796,
                      "e": 97277,
                      "w": "wireless"
                    },
                    {
                      "p": 248,
                      "c": 0.985,
                      "s": 97287,
                      "e": 97787,
                      "w": "network"
                    },
                    {
                      "p": 249,
                      "c": 0.935,
                      "s": 97796,
                      "e": 98016,
                      "w": "is"
                    },
                    {
                      "p": 250,
                      "c": 0.739,
                      "s": 98027,
                      "e": 98226,
                      "w": "just"
                    },
                    {
                      "p": 251,
                      "c": 0.979,
                      "s": 98237,
                      "e": 98807,
                      "w": "called"
                    },
                    {
                      "p": 252,
                      "c": 0.0,
                      "s": 98807,
                      "e": 98807,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 253,
                      "c": 0.055,
                      "s": 100678,
                      "e": 100848,
                      "w": "It's"
                    },
                    {
                      "p": 254,
                      "c": 0.938,
                      "s": 100858,
                      "e": 101088,
                      "w": "called"
                    },
                    {
                      "p": 255,
                      "c": 0.459,
                      "s": 101138,
                      "e": 101558,
                      "w": "Wolf"
                    },
                    {
                      "p": 256,
                      "c": 0.999,
                      "s": 101598,
                      "e": 101848,
                      "w": "just"
                    },
                    {
                      "p": 257,
                      "c": 0.249,
                      "s": 102407,
                      "e": 102778,
                      "w": "W"
                    },
                    {
                      "p": 258,
                      "c": 0.833,
                      "s": 102788,
                      "e": 102977,
                      "w": "O"
                    },
                    {
                      "p": 259,
                      "c": 0.846,
                      "s": 102988,
                      "e": 103178,
                      "w": "L"
                    },
                    {
                      "p": 260,
                      "c": 0.869,
                      "s": 103187,
                      "e": 103568,
                      "w": "F"
                    },
                    {
                      "p": 261,
                      "c": 0.934,
                      "s": 104058,
                      "e": 104437,
                      "w": "W"
                    },
                    {
                      "p": 262,
                      "c": 0.967,
                      "s": 104448,
                      "e": 104628,
                      "w": "O"
                    },
                    {
                      "p": 263,
                      "c": 0.877,
                      "s": 104638,
                      "e": 104808,
                      "w": "L"
                    },
                    {
                      "p": 264,
                      "c": 0.495,
                      "s": 104818,
                      "e": 104988,
                      "w": "F"
                    },
                    {
                      "p": 265,
                      "c": 0.619,
                      "s": 105388,
                      "e": 105937,
                      "w": "and"
                    },
                    {
                      "p": 266,
                      "c": 0.252,
                      "s": 106698,
                      "e": 106797,
                      "w": "a"
                    },
                    {
                      "p": 267,
                      "c": 0.999,
                      "s": 106808,
                      "e": 106988,
                      "w": "lot"
                    },
                    {
                      "p": 268,
                      "c": 0.863,
                      "s": 106998,
                      "e": 107068,
                      "w": "of"
                    },
                    {
                      "p": 269,
                      "c": 0.928,
                      "s": 107077,
                      "e": 107348,
                      "w": "times"
                    },
                    {
                      "p": 270,
                      "c": 0.923,
                      "s": 107358,
                      "e": 107528,
                      "w": "we"
                    },
                    {
                      "p": 271,
                      "c": 0.882,
                      "s": 107538,
                      "e": 107698,
                      "w": "see"
                    },
                    {
                      "p": 272,
                      "c": 0.936,
                      "s": 107708,
                      "e": 107867,
                      "w": "that"
                    },
                    {
                      "p": 273,
                      "c": 0.807,
                      "s": 107878,
                      "e": 108147,
                      "w": "people"
                    },
                    {
                      "p": 274,
                      "c": 0.936,
                      "s": 108157,
                      "e": 108428,
                      "w": "have"
                    },
                    {
                      "p": 275,
                      "c": 0.904,
                      "s": 108437,
                      "e": 108757,
                      "w": "long"
                    },
                    {
                      "p": 276,
                      "c": 0.974,
                      "s": 108768,
                      "e": 109338,
                      "w": "complicated"
                    },
                    {
                      "p": 277,
                      "c": 0.725,
                      "s": 109348,
                      "e": 109937,
                      "w": "passwords"
                    },
                    {
                      "p": 278,
                      "c": 0.857,
                      "s": 109948,
                      "e": 110187,
                      "w": "and"
                    },
                    {
                      "p": 279,
                      "c": 0.389,
                      "s": 110437,
                      "e": 110848,
                      "w": "sometimes"
                    },
                    {
                      "p": 280,
                      "c": 0.958,
                      "s": 110858,
                      "e": 111187,
                      "w": "they"
                    },
                    {
                      "p": 281,
                      "c": 0.0,
                      "s": 111187,
                      "e": 111187,
                      "m": "punc",
                      "w": "."
                    },
                    {
                      "p": 282,
                      "c": 0.116,
                      "s": 112257,
                      "e": 112448,
                      "w": "When"
                    },
                    {
                      "p": 283,
                      "c": 0.818,
                      "s": 112458,
                      "e": 112588,
                      "w": "they're"
                    },
                    {
                      "p": 284,
                      "c": 0.933,
                      "s": 112598,
                      "e": 112937,
                      "w": "forced"
                    },
                    {
                      "p": 285,
                      "c": 0.75,
                      "s": 112948,
                      "e": 113088,
                      "w": "to"
                    },
                    {
                      "p": 286,
                      "c": 0.48,
                      "s": 113098,
                      "e": 113488,
                      "w": "reenter"
                    },
                    {
                      "p": 287,
                      "c": 0.938,
                      "s": 113498,
                      "e": 113608,
                      "w": "their"
                    },
                    {
                      "p": 288,
                      "c": 0.964,
                      "s": 113617,
                      "e": 114248,
                      "w": "password"
                    },
                    {
                      "p": 289,
                      "c": 0.234,
                      "s": 114778,
                      "e": 115058,
                      "w": "they"
                    },
                    {
                      "p": 290,
                      "c": 0.318,
                      "s": 115098,
                      "e": 115367,
                      "w": "import"
                    },
                    {
                      "p": 291,
                      "c": 0.823,
                      "s": 115378,
[...]
